.navbar-nav .nav-link {
  transition: box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out !important; /* Transition effects on hover (color) */
  border-radius: 0 !important; /* Set initial border-radius to zero */
}

.navbar-nav .nav-link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
  border-radius: 8px !important; /* Rounded corners on hover */
}
